:root {
  --background-primary-color: #ffffff;
  --backrgound-secondary-color: #f5f5f5;
  --backrgound-tertiary-color: #0000;

  --button-primary-color: #bf0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

